<div
  class="
    max-w-screen-lg
    p-4
    bg-white
    dark:bg-gray-800
    mx-auto
    px-4
    sm:px-6
    lg:px-8
    relative
    py-26
    lg:mt-20
  "
  id="contenedor"
>
  <div class="relative">
    <div
      class="
        lg:grid lg:grid-flow-row-dense lg:grid-cols-2
        lg:gap-8
        lg:items-center
      "
    >
      <div class="lg:col-start-2 lg:max-w-2xl ml-auto">
        <p class="text-base leading-6 text-indigo-500 font-semibold uppercase">
          Interactive
        </p>
        <h4
          class="
            mt-2
            text-2xl
            leading-8
            font-mono font-extrabold
            text-gray-900
            dark:text-white
            sm:text-3xl
            sm:leading-9
          "
        >
          Interactivity between team members is the key of the success.
        </h4>
        <p class="mt-4 text-lg leading-6 text-gray-500 dark:text-gray-300">
          Build a simply and powered collaborative space for all your team.
          Track, share, measure, you have a fully control, it&#x27;s never be
          simply and efficient.
        </p>
        <ul class="mt-8 md:grid md:grid-cols-2 gap-6">
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span
                class="
                  flex-shrink-0 flex
                  items-center
                  justify-center
                  h-6
                  w-6
                  rounded-full
                  bg-green-100
                  text-green-800
                  dark:text-green-500
                  drark:bg-transparent
                "
              >
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <span
                class="
                  ml-4
                  text-base
                  leading-6
                  font-medium
                  text-gray-500
                  dark:text-gray-200
                "
              >
                HTML/CSS
              </span>
            </div>
          </li>
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span
                class="
                  flex-shrink-0 flex
                  items-center
                  justify-center
                  h-6
                  w-6
                  rounded-full
                  bg-green-100
                  text-green-800
                  dark:text-green-500
                  drark:bg-transparent
                "
              >
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <span
                class="
                  ml-4
                  text-base
                  leading-6
                  font-medium
                  text-gray-500
                  dark:text-gray-200
                "
              >
                JAVASCRIPT
              </span>
            </div>
          </li>
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span
                class="
                  flex-shrink-0 flex
                  items-center
                  justify-center
                  h-6
                  w-6
                  rounded-full
                  bg-green-100
                  text-green-800
                  dark:text-green-500
                  drark:bg-transparent
                "
              >
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <span
                class="
                  ml-4
                  text-base
                  leading-6
                  font-medium
                  text-gray-500
                  dark:text-gray-200
                "
              >
                ANGULAR
              </span>
            </div>
          </li>
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span
                class="
                  flex-shrink-0 flex
                  items-center
                  justify-center
                  h-6
                  w-6
                  rounded-full
                  bg-green-100
                  text-green-800
                  dark:text-green-500
                  drark:bg-transparent
                "
              >
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <span
                class="
                  ml-4
                  text-base
                  leading-6
                  font-medium
                  text-gray-500
                  dark:text-gray-200
                "
              >
                REACT
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-10 lg:-mx-4 relative relative-20 lg:mt-0 lg:col-start-1">
        <div class="flex items-center mt-10 lg:-mx-4 gap-8 p-8">
          <img
            src="../../../assets/fotocv2.jpeg"
            class="rounded-lg w-1/2"
            alt="Tree"
          />
          <div>
            <img
              src="../../../assets/IMG_9221.JPG"
              class="rounded-lg mb-8"
              alt="Tree"
            />
            <img
              src="../../../assets/fotoarriba.jpeg"
              class="rounded-lg"
              alt="Tree"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
