.proyectos {
  /* display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly; */
  margin: 6em;
  overflow-x: auto;
  white-space: nowrap;
  height: 25rem;
  width: 70vw;
  box-sizing: border-box;
}
#opa {
  display: inline-block;
  margin-left: 1rem;
  word-wrap: break-word;
  white-space: normal;
}
#opa:hover {
  opacity: 0.5;
  cursor: pointer;
}
