<div class="proyectos">
  <div
    class="
      shadow-lg
      rounded-2xl
      w-96
      h-96
      p-4
      bg-white
      relative
      overflow-hidden
      break-words
    "
    id="opa"
    (click)="goEmigrando()"
  >
    <img
      alt="moto"
      src="../../../assets/emigrandoweb.png"
      class="absolute -bottom-16 h-90 w-90 mb-20"
    />
    <div class="w-5/6">
      <p class="text-gray-800 text-lg font-medium mb-2">Emigrando Web</p>
      <p class="text-gray-400 text-xs">
        Es un blog de viajes realizado con React, donde se sube información y
        los usuarios se contanctan por medio de comentarios y mensajes por medio
        de la base de datos de FireBase. La maquetación es hecha con Bootstrap
      </p>
    </div>
  </div>

  <div
    class="
      shadow-lg
      rounded-2xl
      w-96
      h-96
      p-4
      bg-white
      relative
      overflow-hidden
    "
    id="opa"
    (click)="goTienda()"
  >
    <img
      alt="moto"
      src="../../../assets/tienda.png"
      class="absolute -bottom-16 h-90 w-90 mb-20"
    />
    <div class="w-5/6">
      <p class="text-gray-800 text-lg font-medium mb-2">Tienda de Bolsos</p>
      <p class="text-gray-400 text-xs">
        Es un ecommerce realizado con Angular, donde se utuilizo formularios
        reactivos, servicios para la cesta y pipe, la información se inyecta por
        medio de base de datos de FireBase. La maquetación fue hecha con Angular
        Material.
      </p>
    </div>
  </div>
  <div
    class="
      shadow-lg
      rounded-2xl
      w-96
      h-96
      p-4
      bg-white
      relative
      overflow-hidden
    "
    id="opa"
    (click)="goJuego()"
  >
    <img
      alt="moto"
      src="../../../assets/rover.png"
      class="absolute -bottom-16 h-90 w-90 mb-20"
    />
    <div class="w-5/6">
      <p class="text-gray-800 text-lg font-medium mb-2">Rover Mars</p>
      <p class="text-gray-400 text-xs">
        Proyecto basado en prueba técnica realizado con angular en el bootcamp
        de Barcelona Activa, se utuilizan pipe, guards y servicios. Maquetación
        con angular material
      </p>
    </div>
  </div>
  <div
    class="
      shadow-lg
      rounded-2xl
      w-96
      h-96
      p-4
      bg-white
      relative
      overflow-hidden
    "
    id="opa"
    (click)="goChiste()"
  >
    <img
      alt="moto"
      src="../../../assets/chiste.png"
      class="absolute -bottom-16 h-90 w-90 mb-20"
    />
    <div class="w-5/6">
      <p class="text-gray-800 text-lg font-medium mb-2">Proyecto Chistes</p>
      <p class="text-gray-400 text-xs">
        Proyecto que muestra chistes aleatoriamente consumiendo API de web de
        chistes y API de el tiempo, realizado con HTML/CSS y JAVASCRITP
      </p>
    </div>
  </div>
</div>
